/*
Author:
Date:
File Name:
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/* Style for the Table */
 table{
   width: 80%;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
   border: 3px solid #71881b;
 }

 /* Style for the Table */
  table,tr,th,td{
    border: 0;
    padding: 2%;
  }

  /* Style for the Table */
   tr{
     background-color: #d3e788;
   }

   /* Style for the Table */
    th,td{
      border: 1px solid #71881b;
    }

    /* Style for the Table */
     td{
       text-align: center;
     }

     caption{
       font-size: 2em;
       padding: 2%;
       margin-top: 2%;
     }
